<!--<div class="blockly-content" fxLayout="column" fxLayoutGap="10px" >
    <div>
      <input type="text" nbInput placeholder="Statement name" status="primary" [(ngModel)]="statement.name">
      <button nbButton (click)="createStatement()">Save</button>
    </div>
    <div id="blocklyDiv" style="height: 80%;"></div>
    <p id="blocklyOutput"></p>
</div>-->
  <div class="row">
    <div class="col-sm-12 col-md-2">
      Column 1
    </div>
    <div class="col-sm-12 col-md-8">
      Column 2
    </div>
    <div class="col-sm-12 col-md-2">
      Column 3
    </div>
  </div>
