<mat-dialog-content class="mat-typography">
  <h3 mat-dialog-title>Sort</h3>
    <mat-form-field>
      <mat-select placeholder="Sort" [(value)]="sort">
        <mat-option>None</mat-option>
        <mat-option value="byName">By Name</mat-option>
      </mat-select>
  </mat-form-field><br /><br />
  <h3 mat-dialog-title>Filter</h3>
  <mat-checkbox [(ngModel)]="filter.dev">Show dev Statements</mat-checkbox><br />
  <mat-checkbox [(ngModel)]="filter.prod">Show prod Statements</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions align='end'>
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-button cdkFocusInitial (click)="onOkClicked()">Ok</button>
</mat-dialog-actions>
