Statements:
<mat-accordion displayMode="default" [multi]="false"
               [hideToggle]="false">
    <mat-expansion-panel [hideToggle]="false" *ngFor="let statement of statements; let i = index">
      <mat-expansion-panel-header [collapsedHeight]="'62px'">
        <mat-panel-title>{{statement.name}}</mat-panel-title>
        <mat-panel-description>
          <mat-chip-list *ngIf="statement.alertCount"><mat-chip color="accent" selected disabled>{{statement.alertCount}}</mat-chip></mat-chip-list>
        </mat-panel-description>
      </mat-expansion-panel-header>
          <app-statement [statement] = statement></app-statement>
        <mat-action-row>
            <button mat-icon-button matTooltip="show details">
              <mat-icon>info</mat-icon>
            </button>
            <button mat-icon-button matTooltip="edit statement">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="delete statement" (click)="dropStatement(i)">
              <mat-icon>delete</mat-icon>
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

