<div *ngIf="statement" class="row">
    <div class="col-md-11">
      <h3>{{statement.name}}</h3>
    </div>
    <div class="col-md-1 flex flex-horizontal-center flex-vertical-center">
      <button nbButton ghost outline shape="round" status="primary" (click)="onStatementUnselect()">
        <nb-icon icon="close-outline"></nb-icon>
      </button>
    </div>
  <div class="col-md-12">
    <div>
      <b class="caption-2 text-hint">Deployment ID:</b><br />
      <code>{{statement.deploymentId}}</code>
    </div>
    <br>
    <div>
      <b class="caption-2 text-hint">EPL Statement:</b><br />
      <code [highlight]="statement.eplStatement" [languages]="['SQL']"></code>
    </div>
  </div>
</div>
<div *ngIf="!statement" class="full-height flex flex-horizontal-center flex-vertical-center">
  <p>No statement currently selected...</p>
</div>
