<div class="wrapper">
  <mat-toolbar fxLayoutAlgin="center center" class="mat-elevation-z6" color="primary">
    <span fxFlex="1 1 auto">Visual CEP</span>
  </mat-toolbar>

  <nav mat-tab-nav-bar mat-stretch-tabs class="mat-elevation-z4">
    <a mat-tab-link routerLink='editor' active="true"><mat-icon>build_outlined</mat-icon>Editor</a>
    <a mat-tab-link routerLink='rules' active="true">Analyzer</a>
  </nav>

  <div class="content" fxLayout="row">
    <router-outlet></router-outlet>
  </div>
</div>
