<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <div class="logo-container">
        <a routerLink="/statements" class="sidebar-toggle">
          <nb-icon icon="cube-outline"></nb-icon>
        </a>
        <a class="logo" routerLink="/statements">Visual Pattern Manager</a>
      </div>
    </div>
    <span style="flex: 1 1"></span>
    <button outline nbButton status="primary" [disabled]="activeRoute.includes('/editor')" [nbContextMenu]="items">
      New statement
    </button>
<!--     <nb-actions>
      <nb-action icon="compass-outline" link="/rules" nbTooltip="View existing rules" nbTooltipPlacement="left" nbTooltipStatus="primary"></nb-action>
    </nb-actions> -->
  </nb-layout-header>

  <nb-layout-column class="container-fluid">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
