<nb-tabset fullWidth>
  <nb-tab tabTitle="Patterns">
    <app-statement-table
      [statements]="patternStatements"
      [schemas]="false"
      (dropStatement)="onDropStatement($event)"
      (selectStatement)="onSelectStatement($event)">
    </app-statement-table>
  </nb-tab>

  <nb-tab tabTitle="Schemas">
    <app-statement-table
    [statements]="schemaStatements"
    [schemas]="true"
    (dropStatement)="onDropStatement($event)"
    (selectStatement)="onSelectStatement($event)">
  </app-statement-table>
  </nb-tab>
</nb-tabset>
