<mat-grid-list cols="3" rowHeight="100%">
  <mat-grid-tile>
    <mat-grid-tile-header><h3>Logs</h3></mat-grid-tile-header>
    <div class="debug-textarea">
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdfsa<br>
      asdf
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header><h3>Events</h3></mat-grid-tile-header>
    <div class="debug-textarea">
      asdfsa<br>
      asdf
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header><h3>Incidents</h3></mat-grid-tile-header>
    <div class="debug-textarea">
      asdfsa<br>
      asdf
    </div>
  </mat-grid-tile>
</mat-grid-list>
