mat-grid-list {
  margin-top: 8px;
}

.debug-textarea {
  position: absolute;
  left: 0px;
  top: 5px;
  right: 0px;
  bottom: 5px;
  overflow: auto;
  margin-top: 43px;
  padding: 4px;
  font-family: monospace;
  background: #f4f4f4;
  color: #666;
  font-size: 15px;
}

