
<!-- <div class="col-12">
  <nb-toggle [(ngModel)]="expanded"></nb-toggle>
</div> -->
<div class="row full-height debugger-root">
  <div *ngIf="eventSubscribed[0]" [class.col-md-4]="eventSubscribed[1]" [class.col-md-6]="!eventSubscribed[1]">
    <nb-card class="full-height">
      <nb-card-header>
        Observables
      </nb-card-header>
      <nb-list class="debug-list">
        <nb-list-item  *ngFor="let event of events[0]" [ngClass]="{'event-highlighted': event.highlighted}" (mouseover)="mouseoverEvent(event.id)" (mouseout)="resetHighlights()">
          <ngx-json-viewer [json]="event.body" [expanded]="expanded" class="w-100"></ngx-json-viewer>
          <!-- <div class="event-name">{{event.name}}:</div> <div class="event-body">{{event.body}}</div> -->
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <div class="col-md-4" *ngIf="eventSubscribed[1]">
    <nb-card class="full-height">
      <nb-card-header>
        Indicators
      </nb-card-header>
      <nb-list class="debug-list">
        <nb-list-item  *ngFor="let event of events[1]" [ngClass]="{'event-highlighted': event.highlighted}" (mouseover)="mouseoverEvent(event.id)" (mouseout)="resetHighlights()">
          <ngx-json-viewer [json]="event.body" [expanded]="expanded" class="w-100"></ngx-json-viewer>
          <!-- <div class="event-name">{{event.name}}:</div> <div class="event-body">{{event.body}}</div> -->
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <div *ngIf="eventSubscribed[2]" [class.col-md-4]="eventSubscribed[1]" [class.col-md-6]="!eventSubscribed[1]" [class.col-md-12]="!eventSubscribed[0]">
    <nb-card class="full-height">
      <nb-card-header>
        {{statement.name}}
      </nb-card-header>
      <nb-list class="debug-list">
        <nb-list-item  *ngFor="let event of events[2]" [ngClass]="{'event-highlighted': event.highlighted}" (mouseover)="mouseoverEvent(event.id)" (mouseout)="resetHighlights()">
          <ngx-json-viewer [json]="event.body" [expanded]="expanded" class="w-100"></ngx-json-viewer>
          <!-- <div class="event-name">{{event.name}}:</div> <div class="event-body">{{event.body}}</div> -->
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
<!-- <mat-grid-list cols="3" rowHeight="100%">
  <mat-grid-tile>
    <mat-grid-tile-header><h3>Logs</h3></mat-grid-tile-header>
    <mat-list class="debug-textarea" dense>
      <mat-list-item *ngFor="let event of events[0]"><span [ngClass]="'event-name'">{{event.name}}:</span><span [ngClass]="'event-body'">{{event.body}}</span></mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header><h3>Events</h3></mat-grid-tile-header>
    <mat-list class="debug-textarea" dense>
        <mat-list-item *ngFor="let event of events[1]"><span [ngClass]="'event-name'">{{event.name}}:</span><span [ngClass]="'event-body'">{{event.body}}</span></mat-list-item>
      </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-grid-tile-header><h3>Incidents</h3></mat-grid-tile-header>
    <mat-list class="debug-textarea" dense>
        <mat-list-item *ngFor="let event of events[2]"><span [ngClass]="'event-name'">{{event.name}}:</span><span [ngClass]="'event-body'">{{event.body}}</span></mat-list-item>
      </mat-list>
  </mat-grid-tile>
</mat-grid-list> -->
