<nb-form-field>
    <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
    <input
      nbInput
      fullWidth
      id="search"
      status="primary"
      placeholder="Search for statement..."
      [nbFilterInput]="dataSource">
</nb-form-field>

<table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)" style="border: 2px solid #fff">
  <tbody>
    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns" class="column-header"></tr>
    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

    <ng-container [nbTreeGridColumnDef]="deploymentModeColumn">
      <th
        nbTreeGridHeaderCell
        [nbSortHeader]="getSortDirection(deploymentModeColumn)"
        *nbTreeGridHeaderCellDef
        style="width: 5rem;">
          Mode
      </th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row" class="deployment-mode-column" style="width: 5rem;">
        <nb-icon
          *ngIf="row.data[deploymentModeColumn]==='prod'"
          icon="sun-outline"
          status="primary"
          nbTooltip="Production rule"
          nbTooltipIcon="sun-outline"
          nbTooltipStatus="primary"
          nbTooltipPlacement="bottom"></nb-icon>
        <nb-icon
          *ngIf="row.data[deploymentModeColumn]==='dev'"
          icon="settings-outline"
          status="warning"
          nbTooltip="Development rule"
          nbTooltipIcon="settings-outline"
          nbTooltipStatus="warning"
          nbTooltipPlacement="bottom"></nb-icon>
      </td>
    </ng-container>

    <ng-container [nbTreeGridColumnDef]="nameColumn">
      <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(nameColumn)" *nbTreeGridHeaderCellDef>Name</th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row">
        <nb-actions fullWidth>
          <nb-action
            nbTooltip="Show details"
            nbTooltipIcon="bulb-outline"
            nbTooltipPlacement="bottom"
            (click)="onSelectStatement(row.data[actionsColumn])"
            style="cursor: pointer; font-weight: 400; font-size: 0.9rem;">
            {{row.data[nameColumn] || '-'}}
          </nb-action>
        </nb-actions>
      </td>
    </ng-container>

    <ng-container [nbTreeGridColumnDef]="modifiedColumn">
      <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(modifiedColumn)" *nbTreeGridHeaderCellDef>Last modified</th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row">
        <span class="flex flex-horizontal-center flex-vertical-center" style="cursor: default; font-weight: 400; font-size: 0.9rem;">{{row.data[modifiedColumn]}}</span>
      </td>
    </ng-container>

    <ng-container [nbTreeGridColumnDef]="actionsColumn">
      <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef style="width: 10rem;">Actions</th>
      <td nbTreeGridCell *nbTreeGridCellDef="let row" style="width: 10rem;">
        <div class="row">
          <div class="col-md-6 action-container action-container-left">
            <button
            nbButton
            ghost
            status="success"
            size="small"
            nbTooltip="Start editing this rule"
            nbTooltipIcon="edit-outline"
            nbTooltipPlacement="bottom"
            routerLink="/editor/{{row.data[actionsColumn]}}">
              <nb-icon icon="edit-outline"></nb-icon>
            </button>
          </div>
          <div class="col-md-6 action-container action-container-right">
            <button
            nbButton
            ghost
            status="danger"
            size="small"
            nbTooltip="Delete this rule"
            nbTooltipIcon="trash-2-outline"
            nbTooltipPlacement="bottom"
            (click)="onDropStatement(row.data[actionsColumn], confirmDeleteDialog)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>
  </tbody>
</table>

<ng-template #confirmDeleteDialog let-data let-ref="dialogRef">
  <nb-card class="dialog">
  <nb-card-header>Do you really want to delete the statement {{ data }}?</nb-card-header>
    <nb-card-footer>
      <div class="row">
        <div class="col-md-6 flex flex-horizontal-center">
          <button nbButton status="danger" (click)="ref.close(false)" fullWidth>
            <nb-icon icon="close-outline"></nb-icon>Cancel
          </button>
        </div>
        <div class="col-md-6 flex flex-horizontal-center">
          <button nbButton status="success" (click)="ref.close(true)" fullWidth>
            <nb-icon icon="checkmark-outline"></nb-icon>Confirm
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
